---
name: Semgrep Differential Scan
on:
  workflow_call:

permissions:
  contents: read
  statuses: write
  
jobs:
  semgrep-diff:
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep:latest

    steps:
      # Step 1: Clone application source code
      - name: Checkout code
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          fetch-depth: 0

      # Step 2: Differential scan
      - name: Differential scan
        run: |
          semgrep ci \
            --config="p/trailofbits"
